# Assignment 2

# Install package

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Question no 01

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

# Importing Required Libraries

In [10]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [11]:
#Lets first connect to the driver-

driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

# entering designation and location as required in the question-

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [13]:
df=pd.DataFrame({'SERIAL_NUM':range(1,11,1),'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXP_REQ':experience_required})
df

,SERIAL_NUM,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQ
0,1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
1,2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
2,3,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
3,4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
4,5,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
5,6,"Data Analyst, Business Analyst",Bangalore/Bengaluru(HSR Layout +1),Clinilaunch Research Institute Llp,0-5 Yrs
6,7,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
7,8,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
8,9,Data Analyst,Bangalore/Bengaluru,Cargill,2-4 Yrs
9,10,Data Analyst,Bangalore/Bengaluru,Eli Lilly And Company,2-6 Yrs

# Question no 02

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [20]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-

driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

In [21]:
# entering designation and location as required in the question-

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

job_title=[]
job_location=[]
company_name=[]

In [22]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [23]:
df=pd.DataFrame({'SERIAL_NUM':range(1,11,1),'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name})
df

,SERIAL_NUM,JOB_TITLE,JOB_LOCATION,COMPANY_NAME
0,1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,2,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,3,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,4,"Data & Analytics Lead, Geo Analytics - GAMMA",Bangalore/Bengaluru,Boston Consulting Group
4,5,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd
5,6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
6,7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
7,8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
8,9,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
9,10,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture

# Question no 03

In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [26]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-

driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

In [27]:
# entering designation and location as required in the question-

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [28]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search.click()

In [29]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
search.click()

In [30]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [31]:
df=pd.DataFrame({'SERIAL_NUM':range(1,11,1),'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXP_REQ':experience_required})
df

,SERIAL_NUM,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQ
0,1,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,2,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,4,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
4,5,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
5,6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,7,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
7,8,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,9,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,10,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs

# Question no 04

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [32]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [33]:
# entering sunglasses in the search bar.
sun_glasses = driver.find_element(By.CLASS_NAME,"_3704LK")
sun_glasses.send_keys("sunglasses")

search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

Brand_ = []
ProductDescription_ = []
Price_ = []
Percentageoff_ = []

In [34]:
# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:]:
    brand=i.text
    Brand_.append(brand)
    
# scraping ProductDescription
productdes_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdes_tags[0:]:
    product=i.text
    ProductDescription_.append(product)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
    
    
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 40 40 40 40

In [35]:
#NEXT PAGE STARTS < HERE

# searching for the next_page icon bar on the page no 01

next_page = driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_page.send_keys("NEXT")

# Click On Search Icon , of page 1.
search = driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [36]:
# scraping Brand Name , of page 2.
brand_tags2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags2[0:]:
    brand2=i.text
    Brand_.append(brand2)
    
# scraping ProductDescription  , of page 2.
productdes_tags2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdes_tags2[0:]:
    product2=i.text
    ProductDescription_.append(product2)
    
# scraping Price  , of page 2.
price_tags2=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags2[0:]:
    price2=i.text
    Price_.append(price2)
    
    

# scraping Percentage OFF  , of page 2.
percentageoff_tags2=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags2[0:]:
    percentageoff2=i.text
    Percentageoff_.append(percentageoff2)
    
    
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 80 80 80 80

In [37]:
#NEXT PAGE STARTS < HERE

# searching for the next_page icon bar on the page no 01

next_page2 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_page2.send_keys("NEXT")

# Click On Search Icon , of page 1.
search2 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
search2.click()

In [38]:

# scraping Brand Name , of page 2.
brand_tags3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags3[0:20]:
    brand3=i.text
    Brand_.append(brand3)
    
# scraping ProductDescription  , of page 2.
productdes_tags3=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdes_tags3[0:20]:
    product3=i.text
    ProductDescription_.append(product3)
    
# scraping Price  , of page 2.
price_tags3=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags3[0:20]:
    price3=i.text
    Price_.append(price3)
    
    

# scraping Percentage OFF  , of page 2.
percentageoff_tags3=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags3[0:20]:
    percentageoff3=i.text
    Percentageoff_.append(percentageoff3)

In [39]:
df=pd.DataFrame({'Serial_Number':range(1,101,1),'BRAND_Of_Product':Brand_,'PRODUCT_DES_DETAILS':ProductDescription_,'PRICE_DETAILS':Price_,'PERCENTAGEOFF_DISCOUNT':Percentageoff_})
df

,Serial_Number,BRAND_Of_Product,PRODUCT_DES_DETAILS,PRICE_DETAILS,PERCENTAGEOFF_DISCOUNT
0,1,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹521,73% off
1,2,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹278,81% off
2,3,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,87% off
3,4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹489,38% off
4,5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
...,...,...,...,...,...
95,96,SUNBEE,UV Protection Cat-eye Sunglasses (Free Size),₹149,85% off
96,97,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹664,66% off
97,98,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹899,55% off
98,99,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹357,82% off
99,100,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",₹265,84% off

# Question no 06

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sneakers” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sneakers. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sneakers.
Note: That all of the above steps have to be done by coding only and not manually.

In [40]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [41]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [43]:
# entering sunglasses in the search bar.
sneakers_ = driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers_.send_keys("sneakers")

search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

Brand_ = []
ProductDescription_ = []
Price_ = []
Percentageoff_ = []

In [44]:
# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:41]:
    brand=i.text
    Brand_.append(brand)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:41]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:41]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
      
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 40 0 40 40

In [45]:
# Click On Search Icon , of page 1.
search = driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [46]:

# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:41]:
    brand=i.text
    Brand_.append(brand)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:41]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:41]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
      
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 80 0 80 80

In [47]:
# Click On Search Icon , of page 1.
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
search.click()

In [48]:
# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:21]:
    brand=i.text
    Brand_.append(brand)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:21]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:21]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
      
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 101 0 101 101

In [49]:
df=pd.DataFrame({'Serial_Number':range(1,102,1),'BRAND_Of_Product':Brand_,'PRICE_DETAILS':Price_,'PERCENTAGEOFF_DISCOUNT':Percentageoff_})
df

     Serial_Number BRAND_Of_Product PRICE_DETAILS PERCENTAGEOFF_DISCOUNT
0                1           Labbin          ₹399                60% off
1                2           Shozie          ₹295                70% off
2                3              SFR          ₹209                65% off
3                4         RapidBox          ₹599                40% off
4                5              SFR          ₹299                70% off
..             ...              ...           ...                    ...
96              97  U.S. POLO ASSN.        ₹2,789                38% off
97              98          BIG FOX          ₹774                69% off
98              99          DEXTURE          ₹849                73% off
99             100     Robbie jones          ₹459                54% off
100            101          BIG FOX          ₹774                69% off

[101 rows x 4 columns]

# Question no 07

Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [71]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the amazon page on automated chrome browser
driver.get("https://www.amazon.in/")

In [72]:
# entering "Laptop" in the search bar.
laptop_ = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop_.send_keys("Laptop")

In [73]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

Title_ = []
Rating_ = []
Price_ = []

In [74]:
# entering sunglasses in the search bar.
cpu_type = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[11]/span/a/span")
cpu_type.click()

In [75]:
# scraping Brand Name
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:11]:
    title=i.text
    Title_.append(title)
print(Title_)
print(len(Title_))

['Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" FHD Thin & Light Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Xbox Game Pass/Platinum Grey/1.7Kg), 81X800LGIN', 'HP 15s 11th Gen Intel Core i3 8GB RAM/512GB SSD 15.6inches/39.6cm FHD, Anti-Glare, Micro-Edge Display/Intel UHD Graphics/Dual Speakers/Windows 11/Alexa Built-in/MSO 2021/1.69kg, 15s-fq2671TU', 'Acer Extensa 15 Lightweight Laptop Intel Core i3 11th Gen Processor (4 GB RAM/256GB SSD/Windows 11 Home/Intel UHD Graphics /1.7Kg/Black) EX215-54 with 15.6" (39.6 cms) Full HD Display', 'HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/512GB SSD 15.6-inch(39.6 cm) Micro-Edge Anti-Glare FHD Laptop/Alexa Built-in/Win 11/Intel UHD Graphics/Dual Speakers/ MS Office 2021/1.69 Kg, 15s-fq2673TU', 'ASUS Vivobook 14, 14.0-inch (35.56 cms) FHD, Intel Core i3-1005G1 10th Gen, Thin and Light Laptop (8GB/512GB SSD/Integrated Graphics/Windows 11/Office 2021/Grey/1.60 kg), X415JA-EK324WS', 'Lenovo IdeaPad Slim 3 Intel Core i3 10th Gen 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/1TB HDD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WB01E7IN', 'Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 14" (35.56cm) FHD Thin & Light Laptop (8GB/256GB SDD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.5Kg), 81X700CWIN', 'HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM/256GB SSD 14-inch(35.6 cm) Micro-Edge, Anti-Glare, FHD Laptop/Alexa Built-in/Win 11/Intel UHD Graphics/Dual Speakers/ MSO 2021/1.41 Kg, 14s-dy2507TU', 'Dell Vostro 3420 Laptop - Intel Core i3-1115G4, 8GB DDR4, 512GB SSD, Win 11 + MSO\'21, 14.0"/35.56Cms, FHD WVA AG 250 nits, Carbon Black (D552276WIN9BE, 1.48Kgs)', 'Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" FHD Thin & Light Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Xbox Game Pass/Platinum Grey/1.7Kg), 81X800LGIN', 'Dell Inspiron 3511 Laptop, Intel Core i3-1115G4, 8GB, 512GB SSD, Win 11 + MSO, 15.6" (39.62Cms) FHD WVA AG Narrow Border, Carbon Black (D560842WIN9B, 1.8Kgs)']
11

In [76]:
# scraping ProductDescription
ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in ratings_tags[0:11]:
    ratings=i.text
    Rating_.append(ratings)
print(Rating_)
print(len(Rating_))

['', '', '', '', '']
5

In [77]:

# scraping Price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:11]:
    price=i.text
    Price_.append(price)
    
print( Price_)
print(len(Price_))

['38,490', '40,150', '29,990', '43,490', '32,820', '', '', '', '', '', '']
11

In [78]:
df=pd.DataFrame({'Serial_Number':range(1,11,1),'TITLE_Of_Product':Title_[0:10],'RATING_OF_PRODUCT':Rating_[0:10],'PRICE_DETAILS':Price_[0:10]})
df

ValueError: All arrays must be of the same length

In [79]:
# Mam, the Amazon Website is very worse, i tried it many a times on the same code . it gives sometimes out as we requires
#and some time with same codes it is not working.
#mam, my code is correct but , web page issue .

# mam Please find seperate github page link for question no 07 , it is creating issues .Here is creating malfunctioning.