# *********TO PRINT ANY STATEMENT  *******

#

Note :- 1) We may use "DOUBLE INVERTED"Commas .

In [36]:
print(" HELLO , Guys ! ")

 HELLO , Guys !

In [40]:
print(' Hope ! you all are Doing Well . ' )

 Hope ! you all are Doing Well .

# 

Note :-2) We may also use 'SINGLE INVERTED' Commas.

# *****To Print any NUMBER Or an INTERGER Values***

In [23]:
print("7987595941")

7987595941

In [29]:
print('7987595941')

7987595941

# ******To Print any STATEMENT with the INTEGERS*******

In [1]:
print( '"These is My Mobile Number :- 7987595941" ')

"These is My Mobile Number :- 7987595941"

In [57]:
print( " ' These is My Mobile Number :- 7987595941 ' ")

 ' These is My Mobile Number :- 7987595941 '

In [31]:
print("Address :- C/o B.R Barde , Plot not :- 58 , Omkar Nagar , Near Shyadri Lawn, Nagpur , Pincode - 440022 ! .")

Address :- C/o B.R Barde , Plot not :- 58 , Omkar Nagar , Near Shyadri Lawn, Nagpur , Pincode - 440022 ! .

In [33]:
print( ' Hi guys , I have booked a Car with serial Number as MH-49-BB-8825  . ' )

 Hi guys , I have booked a Car with serial Number as MH-49-BB-8825  .

# 

Note :- 3) Without Single or Double Inverted Commas Your statement will not be Generated .

In [3]:
print(Hello)

NameError: name 'Hello' is not defined

In [9]:
print( i love dogs )

SyntaxError: invalid syntax (2051890551.py, line 1)

#

Note :- 4) Miss-match of  Single or Double Inverted Commas ,  Your statement will not be Generated .

In [50]:
print( " i love my Car ' )

SyntaxError: EOL while scanning string literal (3150855777.py, line 1)

# Some Basic Calculations

In [111]:
x = 5 
y = 10
z = x + y 
print( z )

15

In [129]:
z = x - y 
print( z )

-5

In [128]:
z = x / y ;
print( z ) ;

0.5

In [114]:
x = 5 ; y = 10 ;
z = x * y ;
print( z ) ;

50

In [131]:
x=19
y=4
z = x % y ;
print( z ) ;

3

In [116]:
x = 10 ; y = 3 ;

z = x % y ;
print( z ) ;

1

In [117]:
x=10 ;
y=5 ;
print (x)

10

In [118]:
print(y)

5

In [119]:
print(x+y)

15

In [120]:
print(" x+y")

 x+y

In [126]:
print( " The Product of two number is = " ,x * y )

 The Product of two number is =  50

In [133]:
x=16
y=7
print ( " The Value of Two number x & y is :- " , x ,"&", y ," , Respectively .")

 The Value of Two number x & y is :-  16 & 7  , Respectively .