In [2]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\dell\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

### Question No : 02 : Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [66]:
# Solution No :- 02  ( By Using , For_Loop statement & Python commands)

#Importing the Required Libraries.
from bs4 import BeautifulSoup
import requests

#Third Step - Sending Get -request to the webpage server to fetch SourceCode of the page.
page3 = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
page4 = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")

#Calling the get_request variable "page3 & page4 " , to fetch SourceCode pages permissions.
page3
page4

soup3 = BeautifulSoup(page3.content)    # Storing the Source Code Contents , to variable 'soup3'
soup4 = BeautifulSoup(page4.content)    # Storing the Source Code Contents , to variable 'soup4'

soup3                 # Calling the variable 'soup3'
soup4                 # Calling the variable 'soup4'


moviesnames = []
for i in soup3.find_all("h3",class_="lister-item-header"):
    moviesnames.append(i.text)
for i in soup4.find_all("h3",class_="lister-item-header"):
    moviesnames.append(i.text)

    
year = []
for i in soup3.find_all("span",class_="lister-item-year text-muted unbold"):
    year.append(i.text)
for i in soup4.find_all("span",class_="lister-item-year text-muted unbold"):
    year.append(i.text)
    
ratings = []
for i in soup3.find_all("div",class_="inline-block ratings-imdb-rating"):
    ratings.append(i.text)
for i in soup4.find_all("div",class_="inline-block ratings-imdb-rating"):
    ratings.append(i.text)


import pandas as pd
df = pd.DataFrame({'MOVIE_NAME':moviesnames,'YEAR_OF_RELEASE':year,'RATE_SCORE':ratings})


print("To display IMDB’s Top rated 100 movies are as below's : ",sep="\n\n")
df

To display IMDB’s Top rated 100 movies are as below's :

,MOVIE_NAME,YEAR_OF_RELEASE,RATE_SCORE
0,\n1.\nThe Shawshank Redemption\n(1994)\n,(1994),\n\n9.3\n
1,\n2.\nThe Godfather\n(1972)\n,(1972),\n\n9.2\n
2,\n3.\nThe Dark Knight\n(2008)\n,(2008),\n\n9.0\n
3,\n4.\nThe Lord of the Rings: The Return of the...,(2003),\n\n9.0\n
4,\n5.\nSchindler's List\n(1993)\n,(1993),\n\n9.0\n
...,...,...,...
95,\n96.\nNorth by Northwest\n(1959)\n,(1959),\n\n8.3\n
96,\n97.\nVertigo\n(1958)\n,(1958),\n\n8.3\n
97,\n98.\nSingin' in the Rain\n(1952)\n,(1952),\n\n8.3\n
98,\n99.\nCitizen Kane\n(1941)\n,(1941),\n\n8.3\n
99,\n100.\nM - Eine Stadt sucht einen Mörder\n(19...,(1931),\n\n8.3\n

### Question No : 03 : Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [78]:
# Solution No :- 03  ( By Using , For_Loop statement & Python commands)

#Importing the Required Libraries.
from bs4 import BeautifulSoup
import requests

#Third Step - Sending Get -request to the webpage server to fetch SourceCode of the page.
page = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

#Calling the get_request variable "page " , to fetch SourceCode pages permissions.
page

soup = BeautifulSoup(page.content)    # Storing the Source Code Contents , to variable 'soup'

soup                 # Calling the variable 'soup'

moviesnames = []

for i in soup.find_all("td",class_="titleColumn"):
    moviesnames.append(i.text)
    
moviesnames


    
year = []

for i in soup.find_all("span",class_="secondaryInfo"):
    year.append(i.text)
    
    
year
    
    
ratings = []

for i in soup.find_all("td",class_="ratingColumn imdbRating"):
    ratings.append(i.text)

ratings

import pandas as pd
df = pd.DataFrame({'INDIAN_MOVIE_NAMES':moviesnames,'YEAR_OF_RELEASE':year,'RATE_SCORES':ratings})

print("To display IMDB’s Top rated 100 INDIAN MOVIES are as below's : ",sep="\n\n")
df

To display IMDB’s Top rated 100 INDIAN MOVIES are as below's :

,INDIAN_MOVIE_NAMES,YEAR_OF_RELEASE,RATE_SCORES
0,\n 1.\n Ramayana: The Legend of Prin...,(1993),\n8.5\n
1,\n 2.\n Rocketry: The Nambi Effect\n...,(2022),\n8.4\n
2,\n 3.\n 777 Charlie\n(2022)\n,(2022),\n8.4\n
3,\n 4.\n Golmaal\n(1979)\n,(1979),\n8.4\n
4,\n 5.\n Nayakan\n(1987)\n,(1987),\n8.4\n
...,...,...,...
245,\n 246.\n Goodachari\n(2018)\n,(2018),\n7.7\n
246,\n 247.\n Don\n(1978)\n,(1978),\n7.7\n
247,\n 248.\n Joji\n(2021)\n,(2021),\n7.6\n
248,\n 249.\n Aligarh\n(2015)\n,(2015),\n7.6\n
249,\n 250.\n Ko\n(2011)\n,(2011),\n7.6\n